# Sqlite through Python

## Instructions

- `sqlite_db_pythonsqlite.db` - This is the database file you are looking to use python to write SQL queries against.
- `SQLTask Tier 2.sql` - This is a text file with the list of questions we are looking to answer via SQL queries on `sqlite_db_pythonsqlite.db`.

In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [2]:
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')
print("Opened database successfully")
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

Opened database successfully
[('Bookings',), ('Facilities',), ('Members',)]

In [5]:
cursor.execute("SELECT * FROM Facilities")
print(cursor.fetchone())

(0, 'Tennis Court 1', 5, 25, 10000, 200)

In [7]:
cursor.execute("SELECT name FROM Facilities WHERE membercost >0;")
print(cursor.fetchone())

('Tennis Court 1',)

In [15]:
cursor.execute("SELECT facid, name, membercost, monthlymaintenance\
               FROM Facilities\
               WHERE membercost < 0.02 * monthlymaintenance;")
print(cursor.fetchone())

(2, 'Badminton Court', 0, 50)

In [16]:
cursor.execute("SELECT firstname, surname \
               FROM Members \
               WHERE memid= (SELECT MAX(memid)-1 FROM Members);")
print(cursor.fetchone())

('Erica', 'Crumpet')